.Flightlist{
    width: 90%;
    padding: 2rem 1.5rem;
    border: 2px solid rgb(126, 119, 119);
    box-shadow: 1px 2.2px 9.5px grey;
    background-color:beige;
    list-style: 'none';
    margin: 10px auto;
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}